@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 480px) and (min-aspect-ratio: 125 / 256) {

    #desktopSideBanner,
    #floatingContainer {
        width: calc(100vh * 375 / 768);
    }
}

@media (min-width: 480px) and (min-aspect-ratio: 125 / 256) {
    #desktopSideBanner {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
    }
}

#desktopSideBanner {
    /* display: none; */
}

.flex-center {
    @apply flex items-center justify-center;
}

.animate-slide-up {
    -webkit-animation: slide-up .2s linear forwards;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-name: slide-up;
    animation-timeline: auto;
    animation-range-start: normal;
    animation-range-end: normal;
    animation: slide-up .2s linear forwards;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-name: slide-up;
    animation-timeline: auto;
    animation-range-start: normal;
    animation-range-end: normal;
}

.animate-slide-down {
    -webkit-animation: slide-down .2s linear forwards;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-name: slide-down;
    animation-timeline: auto;
    animation-range-start: normal;
    animation-range-end: normal;
    animation: slide-down .2s linear forwards;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
    animation-name: slide-down;
    animation-timeline: auto;
    animation-range-start: normal;
    animation-range-end: normal;
}

.\!top-auto {
    top: auto !important;
}

.\!absolute {
    position: absolute !important;
}

.infinite-scroll-container {
    overflow-y: auto;
    height: 80vh;
}

.infinite-scroll-container::-webkit-scrollbar {
    display: none;
}

.infinite-scroll-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loading-spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top: 4px solid #ffffff;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.layer.popup {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}

@keyframes slide-up {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slide-down {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(100%);
    }
}